# import dependencies

In [1]:
#log section
from pm4py.objects.log.importer.xes import importer as xes_importer
#export log to csv section
import pandas as pd
from pm4py.objects.conversion.log import converter as log_converter
import numpy as np
#create feature section

In [2]:
DATASET_NAME='Road_Traffic_Fine_Management_Process'

# import log

In [2]:
log = xes_importer.apply(f'../../src/datasets/{DATASET_NAME}.xes')

parsing log, completed traces :: 100%|██████████| 150370/150370 [00:30<00:00, 4957.89it/s]

In [3]:
print(log[0])

{'attributes': {'concept:name': 'A1'}, 'events': [{'amount': 35.0, 'org:resource': '561', 'dismissal': 'NIL', 'concept:name': 'Create Fine', 'vehicleClass': 'A', 'totalPaymentAmount': 0.0, 'lifecycle:transition': 'complete', 'time:timestamp': datetime.datetime(2006, 7, 24, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'article': 157, 'points': 0}, '..', {'concept:name': 'Send Fine', 'lifecycle:transition': 'complete', 'expense': 11.0, 'time:timestamp': datetime.datetime(2006, 12, 5, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))}]}

In [4]:
print(log[0][0])

{'amount': 35.0, 'org:resource': '561', 'dismissal': 'NIL', 'concept:name': 'Create Fine', 'vehicleClass': 'A', 'totalPaymentAmount': 0.0, 'lifecycle:transition': 'complete', 'time:timestamp': datetime.datetime(2006, 7, 24, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'article': 157, 'points': 0}

# export log to csv

In [6]:
df = log_converter.apply(log, variant=log_converter.Variants.TO_DATA_FRAME)
df = df.sort_values(by=['case:concept:name', 'time:timestamp'])

In [7]:
df

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.00,NaN,NaN,NaN,NaN
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.00,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,131.0,25,NIL,Create Fine,A,0.0,complete,2002-09-07 00:00:00+02:00,142.0,0.0,V9999,NaN,NaN,NaN,NaN,NaN
561466,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2002-10-25 00:00:00+02:00,NaN,NaN,V9999,15.16,NaN,NaN,NaN,NaN
561467,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2002-11-04 00:00:00+01:00,NaN,NaN,V9999,NaN,P,N,NaN,NaN
561468,262.0,NaN,NaN,Add penalty,NaN,NaN,complete,2003-01-03 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN
561469,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2004-01-10 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN

In [8]:
df['time_delta'] = df['time:timestamp'] - df['time:timestamp'].shift()

In [9]:
from itertools import islice
df=df.reset_index(drop=True)

first_run=True
for index, row in df.iterrows():
    if first_run:
        first_run=False
    else:
        #print(row['case:concept:name'] )
        #print(row['time_delta'])
        #print(index)
        if row['case:concept:name'] != df.loc[index-1]['case:concept:name']:
            df.loc[index,'time_delta'] = pd.NaT

#for index, row in islice(df.iterrows(), 1, None):
#    if row['case:concept:name'] != df.loc[index-1]['case:concept:name']:
#        df.loc[index,'time_delta'] = pd.NaT

In [10]:
df

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola,time_delta
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.00,NaN,NaN,NaN,NaN,134 days 01:00:00
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN,NaT
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.00,NaN,NaN,NaN,NaN,132 days 01:00:00
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN,34 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,131.0,25,NIL,Create Fine,A,0.0,complete,2002-09-07 00:00:00+02:00,142.0,0.0,V9999,NaN,NaN,NaN,NaN,NaN,NaT
561466,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2002-10-25 00:00:00+02:00,NaN,NaN,V9999,15.16,NaN,NaN,NaN,NaN,48 days 00:00:00
561467,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2002-11-04 00:00:00+01:00,NaN,NaN,V9999,NaN,P,N,NaN,NaN,10 days 01:00:00
561468,262.0,NaN,NaN,Add penalty,NaN,NaN,complete,2003-01-03 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,60 days 00:00:00
561469,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2004-01-10 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,372 days 00:00:00

In [11]:
np.mean(df['time_delta'])

Timedelta('124 days 23:26:13.911943568')

In [22]:
df.to_pickle(f'../../src/datasets/{DATASET_NAME}_baseline_dataset.pkl')

In [13]:
df.head()

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola,time_delta
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.0,NaN,NaN,NaN,NaN,134 days 01:00:00
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN,NaT
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.0,NaN,NaN,NaN,NaN,132 days 01:00:00
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN,34 days 00:00:00

# create features

In [27]:
df = pd.read_pickle(f'../../src/datasets/{DATASET_NAME}_baseline_dataset.pkl')

In [4]:
df

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola,time_delta
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.00,NaN,NaN,NaN,NaN,134 days 01:00:00
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN,NaT
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.00,NaN,NaN,NaN,NaN,132 days 01:00:00
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN,34 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,131.0,25,NIL,Create Fine,A,0.0,complete,2002-09-07 00:00:00+02:00,142.0,0.0,V9999,NaN,NaN,NaN,NaN,NaN,NaT
561466,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2002-10-25 00:00:00+02:00,NaN,NaN,V9999,15.16,NaN,NaN,NaN,NaN,48 days 00:00:00
561467,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2002-11-04 00:00:00+01:00,NaN,NaN,V9999,NaN,P,N,NaN,NaN,10 days 01:00:00
561468,262.0,NaN,NaN,Add penalty,NaN,NaN,complete,2003-01-03 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,60 days 00:00:00
561469,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2004-01-10 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,372 days 00:00:00

**execution frequency**

In [5]:
number_of_all_activities = len(df['concept:name'])
number_of_all_activities

561470

In [6]:
number_of_unique_activities = len(df['concept:name'].value_counts().keys())
number_of_unique_activities

11

In [7]:
df_execution_frequency = pd.DataFrame({'concept:name':df['concept:name'].value_counts().keys(),'execution_frequncy': df['concept:name'].value_counts().values / number_of_all_activities})
df_execution_frequency

                             concept:name  execution_frequncy
0                             Create Fine            0.267815
1                               Send Fine            0.185205
2                Insert Fine Notification            0.142234
3                             Add penalty            0.142234
4                                 Payment            0.138210
5              Send for Credit Collection            0.105104
6        Insert Date Appeal to Prefecture            0.007459
7               Send Appeal to Prefecture            0.007375
8   Receive Result Appeal from Prefecture            0.001779
9        Notify Result Appeal to Offender            0.001596
10                        Appeal to Judge            0.000988

**execution time**

In [8]:
# median
series_execution_time_median = df.groupby(['concept:name'])['time_delta'].median()
df_execution_time_median = pd.DataFrame({'concept:name':series_execution_time_median.keys(),'execution_time_median': series_execution_time_median.values})
df_execution_time_median

                             concept:name execution_time_median
0                             Add penalty      60 days 00:00:00
1                         Appeal to Judge      24 days 00:00:00
2                             Create Fine                   NaT
3        Insert Date Appeal to Prefecture      31 days 00:00:00
4                Insert Fine Notification      15 days 00:00:00
5        Notify Result Appeal to Offender      13 days 00:00:00
6                                 Payment       8 days 00:00:00
7   Receive Result Appeal from Prefecture      44 days 01:00:00
8               Send Appeal to Prefecture      24 days 00:00:00
9                               Send Fine      87 days 01:00:00
10             Send for Credit Collection     486 days 23:00:00

In [9]:
#mean
series_execution_time_mean = df.groupby(['concept:name'])['time_delta'].mean()
df_execution_time_mean = pd.DataFrame({'concept:name':series_execution_time_mean.keys(),'execution_time_mean': series_execution_time_mean.values})
df_execution_time_mean

                             concept:name         execution_time_mean
0                             Add penalty  57 days 01:36:29.481592788
1                         Appeal to Judge  35 days 17:28:45.405405405
2                             Create Fine                         NaT
3        Insert Date Appeal to Prefecture  33 days 23:59:41.088825215
4                Insert Fine Notification  17 days 08:50:36.694214876
5        Notify Result Appeal to Offender  32 days 00:40:42.857142857
6                                 Payment  54 days 14:59:23.582943519
7   Receive Result Appeal from Prefecture  53 days 08:31:13.873873874
8               Send Appeal to Prefecture 203 days 12:43:15.894711422
9                               Send Fine  87 days 08:43:45.316626117
10             Send for Credit Collection 525 days 16:39:38.282751256

In [10]:
#std
df_copy = df.copy()
df_copy['time_delta'] = df_copy['time_delta'].apply(lambda x:x.days)

series_execution_time_std = df_copy.groupby(['concept:name'])['time_delta'].std()
df_execution_time_std = pd.DataFrame({'concept:name':series_execution_time_std.keys(),'execution_time_std_days': series_execution_time_std.values})
df_execution_time_std

                             concept:name  execution_time_std_days
0                             Add penalty                10.634786
1                         Appeal to Judge                95.725731
2                             Create Fine                      NaN
3        Insert Date Appeal to Prefecture                40.214313
4                Insert Fine Notification                14.951159
5        Notify Result Appeal to Offender                36.888481
6                                 Payment               117.241344
7   Receive Result Appeal from Prefecture                42.692099
8               Send Appeal to Prefecture               559.562888
9                               Send Fine                42.513356
10             Send for Credit Collection               191.183107

In [25]:
# median
series_execution_time_skew = df_copy.groupby(['concept:name'])['time_delta'].skew()
df_execution_time_skew = pd.DataFrame({'concept:name':series_execution_time_skew.keys(),'execution_time_skew': series_execution_time_skew.values})
df_execution_time_skew

                             concept:name  execution_time_skew
0                             Add penalty            -3.810227
1                         Appeal to Judge            14.987576
2                             Create Fine                  NaN
3        Insert Date Appeal to Prefecture             7.869706
4                Insert Fine Notification             6.881340
5        Notify Result Appeal to Offender             1.786858
6                                 Payment             3.422150
7   Receive Result Appeal from Prefecture             2.311484
8               Send Appeal to Prefecture             3.569439
9                               Send Fine             0.555818
10             Send for Credit Collection             1.446152

**failure rate**

In [11]:
series_value_counts_activities = df['concept:name'].value_counts()
series_value_counts_activities

Create Fine                              150370
Send Fine                                103987
Insert Fine Notification                  79860
Add penalty                               79860
Payment                                   77601
Send for Credit Collection                59013
Insert Date Appeal to Prefecture           4188
Send Appeal to Prefecture                  4141
Receive Result Appeal from Prefecture       999
Notify Result Appeal to Offender            896
Appeal to Judge                             555
Name: concept:name, dtype: int64

In [12]:
list_failure_rate_absolute=[]
for key in series_value_counts_activities.keys():
    number_of_traces=0
    for activities in df.groupby('case:concept:name')['concept:name'].sum().values:
        if key in activities:
            number_of_traces=number_of_traces+1
    list_failure_rate_absolute.append(number_of_traces)

list_failure_rate = series_value_counts_activities.values / list_failure_rate_absolute

df_failure_rate = pd.DataFrame({'concept:name':series_value_counts_activities.keys(),'failure_rate': list_failure_rate})
df_failure_rate

                             concept:name  failure_rate
0                             Create Fine      1.000000
1                               Send Fine      1.000000
2                Insert Fine Notification      1.000000
3                             Add penalty      1.000000
4                                 Payment      1.113118
5              Send for Credit Collection      1.000000
6        Insert Date Appeal to Prefecture      1.000000
7               Send Appeal to Prefecture      1.000000
8   Receive Result Appeal from Prefecture      1.000000
9        Notify Result Appeal to Offender      1.000000
10                        Appeal to Judge      1.000000

**number of ressources**

In [13]:
series_number_of_resources_per_activity = df.groupby(['concept:name'])['org:resource'].nunique()
df_number_of_resources = pd.DataFrame({'concept:name':series_number_of_resources_per_activity.keys(),'number_of_resources': series_number_of_resources_per_activity.values})
df_number_of_resources

                             concept:name  number_of_resources
0                             Add penalty                    0
1                         Appeal to Judge                    1
2                             Create Fine                  147
3        Insert Date Appeal to Prefecture                    0
4                Insert Fine Notification                    0
5        Notify Result Appeal to Offender                    0
6                                 Payment                    0
7   Receive Result Appeal from Prefecture                    0
8               Send Appeal to Prefecture                    0
9                               Send Fine                    0
10             Send for Credit Collection                    0

**task maturity**

In [14]:
list_activities = df['concept:name'].unique()

In [15]:
#deterministic preceding
a=[activities[0] for activities in list(set(zip(df['concept:name'][1:],df['concept:name'][:-1])))]
list_has_same_preceding=[]
for activity in list_activities:
    if a.count(activity) ==1:
        list_has_same_preceding.append(True)
    else:
        list_has_same_preceding.append(False)

In [16]:
df_deterministic_p = pd.DataFrame({'concept:name':list_activities,'deterministic_p': list_has_same_preceding})
df_deterministic_p

                             concept:name  deterministic_p
0                             Create Fine            False
1                               Send Fine            False
2                Insert Fine Notification            False
3                             Add penalty            False
4              Send for Credit Collection            False
5                                 Payment            False
6        Insert Date Appeal to Prefecture            False
7               Send Appeal to Prefecture            False
8   Receive Result Appeal from Prefecture            False
9        Notify Result Appeal to Offender            False
10                        Appeal to Judge            False

In [17]:
#deterministic following
a=[activities[0] for activities in list(set(zip(df['concept:name'][:-1],df['concept:name'][1:])))]
list_has_same_follower=[]
for activity in list_activities:
    if a.count(activity) ==1:
        list_has_same_follower.append(True)
    else:
        list_has_same_follower.append(False)

In [18]:
df_deterministic_f = pd.DataFrame({'concept:name':list_activities,'deterministic_f': list_has_same_follower})
df_deterministic_f

                             concept:name  deterministic_f
0                             Create Fine            False
1                               Send Fine            False
2                Insert Fine Notification            False
3                             Add penalty            False
4              Send for Credit Collection            False
5                                 Payment            False
6        Insert Date Appeal to Prefecture            False
7               Send Appeal to Prefecture            False
8   Receive Result Appeal from Prefecture            False
9        Notify Result Appeal to Offender            False
10                        Appeal to Judge            False

**standardization**

In [19]:
#standardization_p
a=[activities[0] for activities in list(set(zip(df['concept:name'][1:],df['concept:name'][:-1])))]
list_standardization_p=[]
for activity in list_activities:
    list_standardization_p.append(a.count(activity))

df_standardization_p = pd.DataFrame({'concept:name':list_activities,'standardization_p': list_standardization_p})
df_standardization_p

                             concept:name  standardization_p
0                             Create Fine                  7
1                               Send Fine                  5
2                Insert Fine Notification                  4
3                             Add penalty                  7
4              Send for Credit Collection                  6
5                                 Payment                 10
6        Insert Date Appeal to Prefecture                  8
7               Send Appeal to Prefecture                  9
8   Receive Result Appeal from Prefecture                  7
9        Notify Result Appeal to Offender                  5
10                        Appeal to Judge                  9

In [20]:
#standardization_f
a=[activities[0] for activities in list(set(zip(df['concept:name'][:-1],df['concept:name'][1:])))]
list_standardization_f=[]
for activity in list_activities:
    list_standardization_f.append(a.count(activity))

df_standardization_f = pd.DataFrame({'concept:name':list_activities,'standardization_f': list_standardization_f})
df_standardization_f

                             concept:name  standardization_f
0                             Create Fine                  4
1                               Send Fine                  6
2                Insert Fine Notification                  6
3                             Add penalty                  7
4              Send for Credit Collection                  2
5                                 Payment                 11
6        Insert Date Appeal to Prefecture                  7
7               Send Appeal to Prefecture                 10
8   Receive Result Appeal from Prefecture                  8
9        Notify Result Appeal to Offender                  7
10                        Appeal to Judge                  9

# merge dfs

df_standardization_p
df_standardization_f df_execution_time_std
df_execution_frequency df_execution_time_median df_execution_time_mean df_failure_rate df_number_of_resources df_deterministic_p df_deterministic_f

In [26]:
final_dataset = df_execution_frequency.merge(df_execution_time_median, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_execution_time_mean, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_execution_time_std, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_execution_time_skew, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_failure_rate, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_number_of_resources, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_deterministic_p, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_deterministic_f, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_standardization_p, on='concept:name',how='inner')
final_dataset = final_dataset.merge(df_standardization_f, on='concept:name',how='inner')
final_dataset['dataset_name']=DATASET_NAME
final_dataset

,concept:name,execution_frequncy,execution_time_median,execution_time_mean,execution_time_std_days,execution_time_skew,failure_rate,number_of_resources,deterministic_p,deterministic_f,standardization_p,standardization_f,dataset_name
0,Create Fine,0.267815,NaT,NaT,NaN,NaN,1.000000,147,False,False,7,4,Road_Traffic_Fine_Management_Process
1,Send Fine,0.185205,87 days 01:00:00,87 days 08:43:45.316626117,42.513356,0.555818,1.000000,0,False,False,5,6,Road_Traffic_Fine_Management_Process
2,Insert Fine Notification,0.142234,15 days 00:00:00,17 days 08:50:36.694214876,14.951159,6.881340,1.000000,0,False,False,4,6,Road_Traffic_Fine_Management_Process
3,Add penalty,0.142234,60 days 00:00:00,57 days 01:36:29.481592788,10.634786,-3.810227,1.000000,0,False,False,7,7,Road_Traffic_Fine_Management_Process
4,Payment,0.138210,8 days 00:00:00,54 days 14:59:23.582943519,117.241344,3.422150,1.113118,0,False,False,10,11,Road_Traffic_Fine_Management_Process
5,Send for Credit Collection,0.105104,486 days 23:00:00,525 days 16:39:38.282751256,191.183107,1.446152,1.000000,0,False,False,6,2,Road_Traffic_Fine_Management_Process
6,Insert Date Appeal to Prefecture,0.007459,31 days 00:00:00,33 days 23:59:41.088825215,40.214313,7.869706,1.000000,0,False,False,8,7,Road_Traffic_Fine_Management_Process
7,Send Appeal to Prefecture,0.007375,24 days 00:00:00,203 days 12:43:15.894711422,559.562888,3.569439,1.000000,0,False,False,9,10,Road_Traffic_Fine_Management_Process
8,Receive Result Appeal from Prefecture,0.001779,44 days 01:00:00,53 days 08:31:13.873873874,42.692099,2.311484,1.000000,0,False,False,7,8,Road_Traffic_Fine_Management_Process
9,Notify Result Appeal to Offender,0.001596,13 days 00:00:00,32 days 00:40:42.857142857,36.888481,1.786858,1.000000,0,False,False,5,7,Road_Traffic_Fine_Management_Process
10,Appeal to Judge,0.000988,24 days 00:00:00,35 days 17:28:45.405405405,95.725731,14.987576,1.000000,1,False,False,9,9,Road_Traffic_Fine_Management_Process