# import log

In [1]:
from pm4py.objects.log.importer.xes import importer as xes_importer

In [2]:
log = xes_importer.apply('../../src/datasets/Road_Traffic_Fine_Management_Process.xes')

parsing log, completed traces :: 100%|██████████| 150370/150370 [01:04<00:00, 2344.95it/s]

In [4]:
print(log[0])

{'attributes': {'concept:name': 'A1'}, 'events': [{'amount': 35.0, 'org:resource': '561', 'dismissal': 'NIL', 'concept:name': 'Create Fine', 'vehicleClass': 'A', 'totalPaymentAmount': 0.0, 'lifecycle:transition': 'complete', 'time:timestamp': datetime.datetime(2006, 7, 24, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'article': 157, 'points': 0}, '..', {'concept:name': 'Send Fine', 'lifecycle:transition': 'complete', 'expense': 11.0, 'time:timestamp': datetime.datetime(2006, 12, 5, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))}]}

In [5]:
print(log[0][0])

{'amount': 35.0, 'org:resource': '561', 'dismissal': 'NIL', 'concept:name': 'Create Fine', 'vehicleClass': 'A', 'totalPaymentAmount': 0.0, 'lifecycle:transition': 'complete', 'time:timestamp': datetime.datetime(2006, 7, 24, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'article': 157, 'points': 0}

# export log to csv

In [55]:
import pandas as pd
from pm4py.objects.conversion.log import converter as log_converter

In [56]:
df = log_converter.apply(log, variant=log_converter.Variants.TO_DATA_FRAME)
df = df.sort_values(by=['case:concept:name', 'time:timestamp'])

In [57]:
df

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.00,NaN,NaN,NaN,NaN
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.00,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,131.0,25,NIL,Create Fine,A,0.0,complete,2002-09-07 00:00:00+02:00,142.0,0.0,V9999,NaN,NaN,NaN,NaN,NaN
561466,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2002-10-25 00:00:00+02:00,NaN,NaN,V9999,15.16,NaN,NaN,NaN,NaN
561467,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2002-11-04 00:00:00+01:00,NaN,NaN,V9999,NaN,P,N,NaN,NaN
561468,262.0,NaN,NaN,Add penalty,NaN,NaN,complete,2003-01-03 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN
561469,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2004-01-10 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN

In [58]:
df['time_delta'] = df['time:timestamp'] - df['time:timestamp'].shift()

In [59]:
from itertools import islice
for index, row in islice(df.iterrows(), 1, None):
    if row['case:concept:name'] != df.loc[index-1]['case:concept:name']:
        df.loc[index,'time_delta'] = pd.NaT

In [62]:
df

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola,time_delta
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+02:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN,NaT
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+01:00,NaN,NaN,A1,11.00,NaN,NaN,NaN,NaN,134 days 01:00:00
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+02:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN,NaT
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+01:00,NaN,NaN,A100,11.00,NaN,NaN,NaN,NaN,132 days 01:00:00
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+01:00,NaN,NaN,A100,NaN,P,P,NaN,NaN,34 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561465,131.0,25,NIL,Create Fine,A,0.0,complete,2002-09-07 00:00:00+02:00,142.0,0.0,V9999,NaN,NaN,NaN,NaN,NaN,NaT
561466,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2002-10-25 00:00:00+02:00,NaN,NaN,V9999,15.16,NaN,NaN,NaN,NaN,48 days 00:00:00
561467,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2002-11-04 00:00:00+01:00,NaN,NaN,V9999,NaN,P,N,NaN,NaN,10 days 01:00:00
561468,262.0,NaN,NaN,Add penalty,NaN,NaN,complete,2003-01-03 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,60 days 00:00:00
561469,NaN,NaN,NaN,Send for Credit Collection,NaN,NaN,complete,2004-01-10 00:00:00+01:00,NaN,NaN,V9999,NaN,NaN,NaN,NaN,NaN,372 days 00:00:00

In [64]:
import numpy as np
np.mean(df['time_delta'])

Timedelta('124 days 23:26:13.911943568')

In [ ]:
#df.to_csv('../../src/datasets/Road_Traffic_Fine_Management_Process.csv')